<div class="container mt-3">
    <div class="row">
        <div class="col-md-3"> <app-aside [pageName]="'post'"></app-aside></div>
        <div class="col-md-9">
            <div class="card text-body-secondary" style="width: 62rem;">
                <div class="card-body">
                  <h4 class="card-title"><b>Başlık:</b>{{post?.title}}</h4>
                  <h5 class="card-subtitle mb-2 text-body-secondary"><b>Category ID: </b>{{post?.categoryId}}</h5>
                  <h5 class="card-text"><b>İçerik: </b>{{post?.content}}</h5>
                  <p><b>User ID</b> : {{post?.userId}}</p>
                  <p><b>Post ID : </b>{{post?.postId}}</p>
                  <p><b>Görüntülenme : </b>{{post?.viewCount}}</p>
                  <p><b>Tarih : </b>{{post?.creationDate}}</p>
                  <p><b>Yayın : </b>{{post?.isPublished | published}}</p>
                  <hr>
                  <h4 class="card-subtitle mb-2 text-body-secondary">Yorumlar</h4>
                  <p *ngFor="let comment of showComment"><b>@{{comment.username}}: </b> {{comment.comment}}  </p>

                </div>
              </div>
            
        </div>
    </div>
</div>

