<form [formGroup]="formGroupName" (submit)="save(formGroupName)">
    <div class="mb-3">
        <label class="form-label">Kategori Numarası</label>
        <input type="text" class="form-control" formControlName="categoryId">
    </div>
    <div class="mb-3">
        <label class="form-label">Kategori Adı</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Oluşturulma Tarihi</label>
        <input type="text" class="form-control" formControlName="creationDate">
    </div>
    <app-button buttonName="Kaydet"></app-button>

</form>