<div class="container">
    <div class="row mt-3">
        <div class="col-md-3"><app-aside-post></app-aside-post></div>
        <div class="col-md-9">
            <form class="d-flex" role="search">
                <input name="postId" class="form-control me-2" type="text" placeholder="Post Id" aria-label="Search" [(ngModel)]="filterPostId">

                <input name="userId" class="form-control me-2" type="text" placeholder="User Id" aria-label="Search" [(ngModel)]="filterUserId">
                
                <input name="categoryId" class="form-control me-2" type="text" placeholder="Category Id" aria-label="Search" [(ngModel)]="filterCategoryId"> 
                
                <button class="btn btn-outline-success mx-1" type="submit" (click)="write()">Filtrele</button>
                <button class="btn btn-outline-danger mx-1" type="submit" [routerLink]="'/post'" (click)="removeFilter()">Temizle</button>
              </form> 

              
            <table class="table table-hover table-striped">
                <thead>
                    <th>postId</th>
                    <th>userId</th>
                    <th>categoryId</th>
                    <th>title</th>
                    <th>viewCount</th>
                    <th>creationDate</th>
                    <th>isPublished</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detay</th>
                </thead>

                <tbody *ngFor="let post of postList | paginate: {itemsPerPage:10, currentPage:pageNumber}">
                    <td>{{post.postId}}</td>
                    <td>{{post.userId}}</td>
                    <td>{{post.categoryId}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.viewCount}}</td>
                    <td>{{post.creationDate}}</td>
                    <td>{{post.isPublished}}</td>
                    <td><button class="btn btn-danger" (click)="deleteUser(post.postId)">Sil</button></td>
                    <td><button type="button" class="btn btn-warning" [routerLink]="['/post/update', post.postId]">Güncelle</button></td>
                    <td><button type="button" class="btn btn-success" [routerLink]="['/post/', post.postId]">Detaylar</button></td>
                </tbody>

            </table>
            
            <div>
                <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
            </div>

        </div>
        
        <div class="row">
        </div>
    </div>
</div>