<div class="container">
    <div class="row mt-3">
        <div class="col-md-3"><app-aside-post></app-aside-post></div>
        <div class="col-md-9">
            <table class="table table-hover table-striped">
                <thead>
                    <th>postId</th>
                    <th>userId</th>
                    <th>categoryId</th>
                    <th>title</th>
                    <th>viewCount</th>
                    <th>creationDate</th>
                    <th>isPublished</th>
                    <th>Sil</th>
                    <th>Detay</th>
                </thead>

                <tbody *ngFor="let post of postList">
                    <td>{{post.postId}}</td>
                    <td>{{post.userId}}</td>
                    <td>{{post.categoryId}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.viewCount}}</td>
                    <td>{{post.creationDate}}</td>
                    <td>{{post.isPublished}}</td>
                    <td><button class="btn btn-danger" (click)="deleteUser(post.postId)">Sil</button></td>
                    <td><button type="button" class="btn btn-success" [routerLink]="['/post/', post.postId]">Detaylar</button></td>
                </tbody>
            </table>
        </div>
    </div>
</div>