<div class="container">
    <div class="row">
      <div class="card text-body-secondary">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h5 class="card-title"><b>@User{{selectedComment.userId}}: </b>{{selectedComment.comment}}</h5>
              </div>
              <div class="col-md-2">
                <p class="text-center fst-italic" style="background-color: #f5f5f5"><b>Yorum Numarası: </b>{{selectedComment.commentId}}</p>
              </div>
              <div class="col-md-2">
                <p class="text-center fst-italic " style="background-color: #f5f5f5"><b>Post Numarası: </b>{{selectedComment.postId}}</p>
              </div>
              <h6 class="card-subtitle mt-3 text-body-secondary">{{selectedComment.creationDate}}</h6>
              <hr class="my-4">
        <h6 class="card-subtitle text-body-secondary text-end"><b>Durum: </b>{{selectedComment.isConfirmed | commentconfirm}}</h6>

        
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
   