<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" [routerLink]="'/user'"><link rel="stylesheet" >Kullanıcıları görüntüle</li>
                <li class="list-group-item" [routerLink]="'/user/add'">Kullanıcı ekle</li>
              </ul>
        </div>
        
        <div class="col-md-9">
            <table class="table">
            <thead>
                <th>userId</th>
                <th>username</th>
                <th>email</th>
                <th>creationDate</th>
                <th>isActive</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </thead>
            <tbody class="" *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.creationDate}}</td>
                <td>{{user.isActive}}</td>
                <td><button (click)="removeUser(user.userId)">Sil</button></td>
                <td><button>Düzenle</button></td>
            </tbody>
            </table>

            <hr>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
    </div>
</div>
