            <form [formGroup]="addUserForm" (ngSubmit)="save()">
                <div class="mb-3">
                    <label for="userId" class="form-label">User ID</label>
                    <input type="text" class="form-control" formControlName="userId">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="creationDate" class="form-label">Tarih</label>
                    <input type="text" class="form-control" formControlName="creationDate">
                </div>
                <div class="mb-3" *ngFor="let active of isActiveMenu">

                <div class="form-check">
                    <input type="radio" [value]="active.isActive" class="form-check-input"
                        formControlName="isActive">
                    <label class="form-check-label" for="isActive"> {{active.durum}}</label>
                </div>
                </div>
                <app-button buttonName="Kaydet"></app-button>
            </form>