
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3"><app-aside [pageName]="'category'"></app-aside></div>
        <div class="col-md-9">

            <div class="card text-body-secondary" style="width: 60rem;">
                <div class="card-body">
                  <h5 class="card-title"><b>Kategori İsmi:</b>{{selectedCategory.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><b>Category ID: </b>{{selectedCategory.categoryId}}</h6>
                  <p class="card-text"><b>Oluşturulma Tarihi: </b>{{selectedCategory.creationDate}}</p>
  
                  <hr>
                  <h5 class="card-subtitle mb-2 text-body-secondary">Kategoriye Ait Toplam Gönderi Sayısı: {{totalPost}}</h5>
                  <app-button buttonName="Görüntüle" (click)="navigateToPosts()"></app-button>
                </div>
              </div>
        </div>
    </div>
</div>
