<div class="container">
    <div class="row mt-3">
        <div class="col-md-3"><app-aside-category></app-aside-category></div>
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <th>Kategori Numarası</th>
                    <th>Kategori İsmi</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Sil</th>
                    <th>Düzenle</th>
                    <th>Detay</th>
                </thead>
                <tbody *ngFor="let category of categories">
                    <td>{{category.categoryId}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.creationDate}}</td>                  
                    <td><button type="button" class="btn btn-danger" (click)="removeCategory(category.categoryId)">Sil</button></td>
                    <td><button type="button" class="btn btn-warning" (click)="updateCategory()" [routerLink]="['/category/edit', category.categoryId]">Düzenle</button></td>
                    <td><button type="button" class="btn btn-success" [routerLink]="['/category/detail', category.categoryId]">Detaylar</button></td>
                </tbody>
            </table>

        </div>
    </div>
</div>

