<div class="row">
    <div class="w-50 min-vh-100 bg-dark">
        <ul class="nav nav-pills flex-column mb-auto">

            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" [routerLink]="'/user/add'"
                    [routerLinkActive]="'active'">Kullanıcı ekle</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" [routerLink]="'/category/add'"
                    [routerLinkActive]="'active'">Kategori ekle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" [routerLink]="'/post/add'"
                    [routerLinkActive]="'active'">Post ekle</a>
            </li>
            <li class="nav-item">
            <li class="list-group-item">
                <a class="nav-link text-white" aria-current="page" [routerLink]="'/comment/add'"
                    [routerLinkActive]="'active'">Yorum ekle</a>
            </li>
        </ul>
    </div>
</div>