<div class="container">
    <div class="row mt-3">
        <div class="col-md-3"><app-aside [pageName]="'comment'"></app-aside></div>
        <div class="col-md-9">
            <input name="postId" class="form-control me-2" type="text" placeholder="Post Id" aria-label="Search"
                [(ngModel)]="filterText">
            
            <app-table [titleList]="titleList" [gridList]="comments | commentfilter:filterText" [notUser]="true" (onDetail)="detailComment($event)" (onEdit)="editComment($event)" (onDelete)="deleteComment($event)"></app-table>
        </div>
    </div>
</div>



