<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <app-aside [pageName]="'user'"></app-aside>>
        </div>

        <div class="col-md-9 ">
            <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()" class="bg-light border-success rounded ">
                <h5 class="text-primary text-center py-3">Update User</h5>

                <div class="input-group mb-1">
                    <input type="text" class="form-control mx-3" placeholder="Username" formControlName="userId">
                </div>
                
                <div class="input-group mb-1">
                    <input type="text" class="form-control mx-3" placeholder="Username" formControlName="username">
                </div>
                

                <div class="input-group mb-1">
                    <input type="text" class="form-control mx-3" placeholder="E-mail" formControlName="email">
                </div>
                <div class="input-group mb-1">
                    <input type="text" class="form-control mx-3" placeholder="Creation Date" formControlName="creationDate">
                </div>
                <div class="input-group mb-1">
                    <input type="text" class="form-control mx-3" placeholder="E-mail" formControlName="isActive">
                </div>


                <app-button buttonName="Kaydet"></app-button>

            </form>
        </div>

    </div>
</div>